.loadingDonut {
  width: 80px; /* ドーナツの幅 */
  height: 80px; /* ドーナツの高さ */
  border: 8px solid #94aee9; /* 初期色 */
  border-top: 8px solid transparent; /* 上部分は透明に */
  border-radius: 50%; /* 円形にする */
  animation: spin 2s linear infinite, change-color 4s ease-in-out infinite; /* 回転と色変化のアニメーションをカンマで分ける */
}

.add{
  width: 300px;
  border-radius: 10px;
}

.oshinoko{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(186, 188, 211, 1);
  cursor: pointer;
  transition: background-color 3.0s ease;
  margin: 10px 10px;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: fadeInFromBottom 0.8s ease-out;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInFromBottom {
  from {
    transform: translateY(50px); /* 下に50pxの位置から */
    opacity: 0; /* 完全に透明 */
  }
  to {
    transform: translateY(0); /* 元の位置 */
    opacity: 1; /* 完全に表示 */
  }
}


@keyframes change-color {
  0% {
    border-color: #94aee9; /* 初期色 */
    border-top-color: transparent;
  }
  25% {
    border-color: #bca5d9; /* 色変更 */
    border-top-color: transparent;
  }
  50% {
    border-color: #e5c9f0; /* 色変更 */
    border-top-color: transparent;
  }
  75% {
    border-color: #b0e0f9; /* 色変更 */
    border-top-color: transparent;
  }
  100% {
    border-color: #94aee9; /* 元の色に戻る */
    border-top-color: transparent;
  }
}
